@use 'colors';
@use 'sass:color';

@mixin _default-button($bg) {
  font-size: 1rem;
  display: inline-block;
  padding: .5rem;
  background-color: $bg;
  border: 1px solid var(--bg-sec);
  border-radius: 5px;
  box-shadow:  9px 9px 18px #111111,
  -9px -9px 18px #1b1b1b;
  cursor: pointer;

  transition: background-color 200ms ease-in-out;


  &.icon {
    padding: .3rem;
    border-radius: 2rem;
  }

  &:hover {
    background-color: color.adjust($bg, $lightness: 5%);
  }

  &:active {
    background-color: color.adjust($bg, $lightness: 10%);
  }
}

button:not(.no-default), .button {
  @include _default-button(colors.$bg-prim);
}

button:not(.no-default)[type="submit"] {
  @include _default-button(colors.$bg-action);
}

button:not(.no-default)[type="reset"], button:not(.no-default).cancel, .button.cancel {
  @include _default-button(colors.$bg-cancel);
}

a:not(.no-default) {
  text-decoration: none;
  border-bottom: 1px solid var(--fg-ter);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  display: inline-block;

  &:hover {
    color: var(--fg-sec);
    transform: translate(-1px, -1px);
  }
}

input:not(.no-default) {
  background: colors.$bg-prim;
  border: 1px solid colors.$bg-sec;
  border-radius: 5px;
  padding: .5rem;

  &:focus-visible {
    outline: none;
    border: 1px solid colors.$fg-ter;
  }
}

label:not(.no-default) {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  &:not(.no-default) {
    display: flex;
    align-items: center;
  }
}

.error {
  color: var(--fg-err);
  text-align: center;
}